body {
    background-color: #e6e6e6;
}

.container {
    text-align: center;
    padding: 20px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #3498db;
}

.container p {
    color: #444;
    margin-bottom: 20px;
    font-size: 24px; 
}

.container .btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.container .btn:hover {
    background-color: #2980b9;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Responsive */

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 60%;
        margin: 0 auto;
    }
}
